.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#promo-video {
  margin: 0 auto 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.infographic {
}

.infographic .image {
  margin: 0 auto;
  max-width: 600px;
}

.infographic a {
  border: none;
}

.addthis-smartlayers a {
  border: none;
}

.header-logo {
  height:2em;
  vertical-align:middle;
}

.feature-image {
  width: 75px;
}
