<ul class="icons">
  <li><a href="http://www.twitter.com/ceaselessprayer" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
  <li><a href="https://www.facebook.com/ceaselesspraying" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/ceaselessprayer/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
  <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>-->
</ul>
