<!-- Footer -->
  <footer id="footer">
    {{> social-icons }}
    <ul class="copyright">
      <li>&copy; TheoTech. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      <li><a href="privacy.html">Privacy Policy</a></li>
    </ul>
  </footer>
