<!-- Header -->
<header id="header" class="alt">
  <h1><a href="index.html"><img class="logo" style="height:2em;vertical-align:middle" src="images/logo-white.png"/></a></h1>
  <nav id="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li>
        <a href="" class="icon fa-angle-down">Menu</a>
        <ul>
          <li><a href="#main">What is Ceaseless?</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#letter">Backstory</a></li>
          <li><a href="#cta">Contact</a></li>
          <!--
          <li>
            <a href="">Applications</a>
            <ul>
              <li><a href="#">For Individuals</a></li>
              <li><a href="#">For Churches</a></li>
              <li><a href="#">For Ministries</a></li>
              <li><a href="#">For Missions</a></li>
            </ul>
          </li>
          -->
        </ul>
      </li>
      <li><a href="#" class="button">Sign Up</a></li>
      <li><a href="#" class="button special">Sign In</a></li>
    </ul>
  </nav>
</header>
