<section class="container" id="main">
  <header>
    <h2>Why should we personally pray for everyone on earth?</h2>
  </header>
  <div class="box">
        <p>Enter your e-mail to get updates on a forthcoming book exploring this question.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//meritandgrace.us3.list-manage.com/subscribe/post?u=ecb861ac6bb9ee973c13b5e2b&amp;id=348102aa74" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div class="mc-field-group">
                <label for="mce-EMAIL"></label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
        </div>
                <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_ecb861ac6bb9ee973c13b5e2b_348102aa74" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success"></div>
        </form>
        </div>

        <!--End mc_embed_signup-->
<h3>Can we personally pray for everyone on earth?</h3>
        <p>Read this brief <a href="assets/downloads/ceaseless-required-size-estimate-v1.pdf">math paper</a> presenting one model to estimate how many participants it would take.</p>
  </div>
</section>
