<!-- Main -->
<section id="main" class="container small">
  <header>
    <h2>Contact Us</h2>
    <p>Use the form below to reach us with questions, feedback, or anything else.
      <br/>
      Don't worry we won't use your e-mail for any nefarious purposes &#9786;.
    </p>
  </header>
  <div class="box">
    <form method="post" action="#">
      <div class="row uniform half collapse-at-2">
        <div class="6u">
          <input type="text" name="name" id="name" value="" placeholder="Name" />
        </div>
        <div class="6u">
          <input type="email" name="email" id="email" value="" placeholder="Email" />
        </div>
      </div>
      <div class="row uniform half">
        <div class="12u">
          <input type="text" name="subject" id="subject" value="" placeholder="Subject" />
        </div>
      </div>
      <div class="row uniform half">
        <div class="12u">
          <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
        </div>
      </div>
      <div class="row uniform">
        <div class="12u">
          <ul class="actions align-center">
            <li><input type="submit" value="Send Message" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>
<script>
  if ($.QueryString["subject"]) {
    $("#subject").val($.QueryString["subject"]);
  }
</script>
