<section class="container" id="main">
  <header>
    <h2>Support Ceaseless</h2>
    <p>&ldquo;It is more blessed to give than to receive&rdquo; (Acts 20:35)</p>
  </header>
  <div class="box">
    <p>Ceaseless is built with joy, care, and late nights. Your gift helps cover the cost of operations and accelerates product development and promotion.
      Click the button below to donate or <a href="contact.html?subject=How can I help">contact us</a> for other ways to give and help.</p>
    <h6>Note: Gifts are not tax deductible because Ceaseless is not incorporated as a charity.</h6><br/>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAkXfRR/Tjn4E6AGkjUostPs5yVGZAcZ+1jf24jyav3eNlHvf1nlF6yFiWrzbSBgKFqcBiwJ8eUJVJiAHXJ6+2VVaIvg57G8iNpx+Q8lSLiQDQWhdG+uPgWKgxsnWrVFjdlXrAGwnQMmal2JdIWk6WnMSyxRlLlf63O7NHjDd07FDELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIlHUPmMW6Lk6AgYjoO6dyfHecu5ufHU/Q7t84cmvL4oXuZHUlBAuevCEM8yITuvfgtAwqR98o2kFCVbIKxiZooJFQbH+FpahbpCGoliPY48kd+AHMiw+pDB72eDno+GQ7adJyqd+UnurAYIw/nSiquI2+E+Nl7eXoDX7AnxQz49952bSvSnMPQ6V3ULxL6GioWzZCoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMwNDIzMDYxMjM0WjAjBgkqhkiG9w0BCQQxFgQUKPLv9e1sbEjXnyAjMG8JzJ+chr8wDQYJKoZIhvcNAQEBBQAEgYC8tBlFAnZCPesksNWsNTEssMwcb11/i+q9usAxwcs0LI9A9WJPI22XJqWTbnfOIM0NVLCE9TaSrnKWd1P3FDjCNpJjLlcLkHbZ69r3vrbXltzkVy5plCutZtgrsxQ4dFbVHSvqYE+IGzq5ZNZr6Rqb50mBZnSboRPPEnU5rWFPZg==-----END PKCS7-----">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <p>Thanks for your interest in supporting Ceaseless financially! You can support Ceaseless in <a href="faq.html#how-to-support">other ways too</a>.</p>
  </div>
</section>
