<section class="container" id="main">
  <header>
    <h2>Change Preferences</h2>
  </header>
  <div class="box">
    <form>
      <div class="row">
        <div class="6u">
          <label for="number_of_friends">How many friends do you want to pray for each day?</label>
          <div class="select-wrapper">
            <select name="number_of_friends">
              <option>3</option>
            </select>
          </div>
          <br/>
        </div>
        <div class="6u">
          <label for="time_of_reminder">When do you want to receive the reminder?</label>
          <div class="select-wrapper">
            <select name="time_of_reminder">
              <option>6 AM</option>
            </select>
          </div>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="12u">
          <label for="break">Do you need a break?</label>
          <input id="break" name="break" type="checkbox"><label for="break">Take a 7 day break</label>
        </div>
      </div>
      <br/>
      <button class="button" type="submit">Submit</button>
        </div>
    </form>
  </div>
</section>
