---
layout: src/templates/layouts/landing.hbs
title: Share your joy
headline: Share the joy of praying for others
---
    <!-- Banner -->
      <section id="banner">
        <h2>{{ headline }}</h2>
        <p>Use these buttons to share Ceaseless with others</p>
        {{> addthis-toolbox }}
        <br/>
        <ul class="actions">
          <li><a href="/index.html" class="button special">Learn more about Ceaseless</a></li>
        </ul>
      </section>

		<!-- Main -->
			<section id="main" class="container">
				<div class="box special">
          <div class="infographic">
            <span class="image fit"><img src="images/ceaseless_fb_infographic_en.jpg" alt="" /></span>
          </div>
          <br/>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1KUHsYbZz8k" frameborder="0" allowfullscreen></iframe>
          </div>
				</div>
			</section>

      {{> addthis-scripts }}
