---
layout: src/templates/layouts/landing.hbs
title: Share your joy
headline: Share the joy of praying for others
---
    <!-- Banner -->
      <section id="banner">
        <h2>{{ headline }}</h2>
        <p>Use these buttons to share Ceaseless with others</p>
        {{> addthis-toolbox }}
        <br/>
        <ul class="actions">
          <li><a href="/index.html" class="button special">Learn more about Ceaseless</a></li>
        </ul>
      </section>

		<!-- Main -->
			<section id="main" class="container">
				<div class="box special">
          <h2><b>Help get the word out about Ceaseless!</b></h2>
          <p>Use the materials below to share Ceaseless with your friends, family, church, and beyond.
            <br/>
            Hover over an image and pick which social network you would like to share it with.</p>
          <div class="share shortcuts">
            <a href="#infographic">Infographic</a>
            &nbsp;|&nbsp;
            <a href="#app-card">App Card</a>
            &nbsp;|&nbsp;
            <a href="#share-banner">Banner</a>
            &nbsp;|&nbsp;
            <a href="#ceaseless-info-video">Video</a>
          <br/>
          <div class="infographic" id="infographic">
            <h2>Infographic</h2>
            <span class="image fit"><img class="shareable-class" src="images/ceaseless_fb_infographic_en.jpg" alt="Ceaseless Prayer Infographic" /></span>
          </div>
          <br/>
          <div class="app-card" id="app-card">
            <h2>App Card</h2>
            <span class="image fit"><img class="shareable-class" src="images/ceaseless_businesscard.png" alt="Ceaseless Prayer App Card" /></span>
          </div>
          <br/>
          <div id="share-banner">
            <h2>Banner - Facebook/Twitter Profile Cover Image</h2>
            <span class="image fit"><img class="shareable-class" src="images/ceaseless_android_lifestyle_shareable_banner.jpg" alt="Ceaseless Prayer - Pray for your world 3 friends at a time" /></span>
          </div>
          <br/>
          <div>
            <h2>Video - Personal Prayer for Everyone on Earth</h2>
          </div>
            <br/>
          <div class="video-container" id="ceaseless-info-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1KUHsYbZz8k?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
				</div>
			</section>

      {{> addthis-scripts }}
