---
layout: src/templates/layouts/landing.hbs
title: Share your joy
headline: Share the joy of praying for others
---
    <!-- Banner -->
      <section id="banner">
        <h2>{{ headline }}</h2>
        <p>&ldquo;Pray earnestly to the Lord of the harvest to send out laborers into his harvest.&rdquo; (Luke 10:2 ESV)</p>
        <ul class="actions">
          <li><a href="#main" class="button special">Invite people to pray</a></li>
        </ul>
      </section>

		<!-- Main -->
			<section id="main" class="container">
				<div class="box special">
					<h3>Invite people to pray for their friends</h3>
          <p>Use these buttons to share Ceaseless</p>
          <div class="infographic">
            {{> addthis-toolbox }}
            <br/>
            <span class="image fit"><img src="images/ceaseless_fb_infographic_en.jpg" alt="" /></span>
          </div>
				</div>
			</section>

      {{> addthis-scripts }}
