---
layout: src/templates/layouts/common.hbs
---
<body class="landing">
<img id="header-narrow" src="/images/logo-white.png"/>
{{> announcement-header }}
{{> body }}

{{> main-footer }}
{{> ga-analytics }}
</body>
