---
layout: src/templates/layouts/common.hbs
---

<body>
<link rel="stylesheet" href="css/progress-bar.css" />
{{> fb-app-header }}

{{> body }}

{{> main-footer }}
{{> fb-scripts }}
{{> ga-analytics }}
</body>
