---
layout: src/templates/layouts/fb-app-layout.hbs
---

<style type="text/css">
  .prayer_progress {
    display: none;
  }
</style>
<section id="main" class="container">
  <header>
    <h2>Pray without ceasing</h2>
    <p>(1 Thessalonians 5:17 ESV)</p>
  </header>
  <div class="box">
    <div class="row">
      <div class="prayer_progress 12u">
        <h2>Prayer progress</h2>
        <div>
          <h3 id="global-friend-count"></h3>
          <span id="friends-remaining"></span>
          <div class="progress">
            <div id="personal-progress-bar" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60%</span>
            </div>
          </div>
        </div>

        <div>
          <h3>Actions</h3>
          <ul>
            <li><a href="invite.html"><span class="icon fa-user"></span> &nbsp; Invite Others</a></li>
            <li><a href="preferences.html"><span class="icon fa-wrench"></span> &nbsp; Change Preferences</a></li>
            <li><a href="donate.html"><span class="icon fa-thumbs-up"></span> &nbsp; Support Ceaseless</a></li>
            <li><a href="contact.html"><span class="icon fa-question"></span> &nbsp; Give Feedback or Get Help</a></li>
          </ul>
        </div>
        <hr/>
      </div>
    </div>
    <div class="row">
      {{> loading-spinner }}
      <!-- custom login wrapper that needs to support registration -->
      <div class="fb-login-wrapper">
        <div
                class="fb-login-button"
                data-show-faces="true"
                data-width="265"
                data-max-rows="2"
                data-registration-url=""
                data-onlogin="setupRegistrationUrl()"
                data-size="large"
                data-scope="email,user_status,friends_photos,friends_status">
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var getPrayerProgress = function () {
    $.ajax({
      type: 'GET',
      url: 'prayerProgress.php',
      dataType: 'json',
      success: function (data) {
        // update global friend count (TODO cache it)
        $("#global-friend-count").text('Globally, ' + data.progress.globalFriendCount + ' people are being prayed for by Ceaseless users.');

        // update progress bar
        var percentage = 100 - Math.round(data.progress.remainingFriendsCount / data.progress.totalFriends * 100);
        $("#personal-progress-bar").css('width', percentage + '%');
        $("#personal-progress-bar .sr-only").text(percentage + '%');
        $("#friends-remaining").text("You have " + data.progress.remainingFriendsCount + " remaining friends to pray for this round.");
      },
      async: false
    });
  };
</script>
<script type="text/javascript">
  var fbInitActions = {
    connected: function () {
      $("div.loading_spinner").hide();
      $("div.fb-login-wrapper").show();
      $("div.signin_intro").hide();
      $("div.prayer_progress").show();
      getPrayerProgress();
    }
  };
</script>
