---
layout: src/templates/layouts/fb-app-layout.hbs
---
<section class="container" id="main">
  <header>
    <h2>Your Friends</h2>
    <p>The people Ceaseless reminds you to pray for.</p>
    <div>
      <button class="button" id="friend-form-btn">+ Add Friend</button>
    </div>
    <div id="add-friend-form" class="box" style="display:none;">
      <div class="row collapse-at-2">
        <div class="8u">
          <input id="new-friend-name" type="text" placeholder="Enter a name to pray for"/>
        </div>
        <div class="4u">
          <a href="#" class="button" id="add-friend-btn">Add friend to pray for</a>
        </div>
      </div>
    </div>
  </header>
  <div class="box">
    {{> loading-spinner }}
    {{> fb-login-wrapper }}
    <div class="row">
      <div class="12u" style="text-align:center">
        <h3 id="friends-list-title">You are praying for:</h3>
        <ul id="friends" class="alt friend-list">
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="12u">
        <a href="default.html" class="button big">Return home</a>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  function showAddFriendForm () {
    $('#friend-form-btn').hide();
    $('#add-friend-form').show();
  }
  function hideAddFriendForm () {
    $('#friend-form-btn').show();
    $('#add-friend-form').hide();
  }
  $('#friend-form-btn').click(showAddFriendForm);

  function addFriend (e) {
    e.preventDefault();
    var newFriendName = $("#new-friend-name").val().trim();
    if(newFriendName.length > 1) {
      $('#add-friend-btn').attr('disabled',true);
      $.post('/api/friends.php', {friend_name: newFriendName, add: true}, function (response) {
        console.log('Added ' + newFriendName, response);
        $('#new-friend-name').val('');
        hideAddFriendForm();
        $('#add-friend-btn').attr('disabled',false);
        fetchAndRenderFriends();
      });
    }
  }
  $('#add-friend-btn').click(addFriend);

  var $el = $("#friends");
  var listView = $el;

  var friends = [];

  var removeFriend = function (friend_id) {
    listView.find("#friend"+friend_id)[0].remove();
    $.post("/api/friends.php", {friend_id: friend_id, remove: true}, function (response) {
      console.log("Removed " + friend_id, response);
    });
  };

  function fetchAndRenderFriends() {
    $("div.loading-spinner").show();
    listView.empty();
    $.getJSON("/api/friends.php", {}, function (response) {
      friends = response.friends.sort(function (a, b) {
        return a.friend_name.localeCompare( b.friend_name );
      });
      $("#friends-list-title").text("You are praying for " + friends.length + " people");
      friends.forEach(function (f) {
        var name = f.friend_name;
        var id = f.friend_id;
        var $li = "<li id=\"friend" + id + "\">";
        var $img = "<img src='profile-pictures/" + f.friend_profile_picture_url + "'/>";
        var $h4 = "<h4>" + name + "</h4>";

        var $a = "<a href='javascript:removeFriend(\"" + id + "\")'>Remove from Ceaseless</a>";
        var tmpl = $($li + $img + $h4 + $a);
        listView.append(tmpl);
      });
      $("div.loading-spinner").hide();
    });
  }
</script>
<script type="text/javascript">
  var fbInitActions = {
    connected: function () {
      $('div.fb-login-wrapper').hide();
      fetchAndRenderFriends();
    }
  };
</script>
