---
layout: src/templates/layouts/fb-app-layout.hbs
---
<section class="container" id="main">
  <header>
    <h2>Thanks for praying!</h2>
    <p>Click on a friend below to send them a message.</p>
  </header>
  <div class="box">
    {{> loading-spinner }}
    {{> fb-login-wrapper }}
    <div class="row">
      <div class="12u">
        <h3>Message friends you prayed for:</h3>
        <ul id="friends-to-message" class="alt friend-list">
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="12u">
        <a href="default.html" class="button big">Return home</a>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  // annoying, but we need to detect since
  // facebook doesn't let us use the send dialog
  // on mobile web.
  function isMobile() {
    try {
      document.createEvent("TouchEvent");
      return true;
    }
    catch (e) {
      return false;
    }
  }
  var sendMessage = function (recipient) {
    // FB doesn't support send dialog on mobile web
    if (!isMobile()) {
      FB.ui({
        method: 'send',
        to: recipient,
        link: 'http://www.ceaselessprayer.com'
      });
    } else {
      // we'll fallback to linking to profile page
      window.open('http://www.facebook.com/' + recipient, '_blank');
    }
  };

  var getFbIds = function () {
    var fb_ids = $.QueryString["fb_ids"] || [];
    if (fb_ids.length > 0) {
      return fb_ids.split(",");
    } else {
      return fb_ids;
    }
  };

</script>
<script type="text/javascript">
  var fbInitActions = {
    connected: function () {
      $('div.fb-login-wrapper').hide();
      var fbIds = getFbIds();
      $.getJSON("/getFbDetailsForIds.php", { ids: fbIds }, function (response) {
        var results = response.results;
        fbIds.forEach(function (id) {
          // generate a send message button for each person
          var tmpl = $("<li><a href='javascript:sendMessage(\"" + id + "\")'><table><tr>");
          tmpl.find("a").append("<td><img src='" + results[id].profilePic + "'/></td>");
          var name = results[id].name.first_name + " " + results[id].name.last_name;
          tmpl.find("a").append("<td>Message " + name + "</td>");
          tmpl.appendTo("#friends-to-message");
        });
        $("div.loading-spinner").hide();
      });
    }
  };
</script>
