---
layout: src/templates/layouts/fb-app-layout.hbs
---
<style type="text/css">
  .refreshed, .loading-spinner {
    display: none;
  }
</style>

<section class="container" id="main">
  <header>
    <h2>Renew Facebook Connection</h2>
  </header>
  <div class="box">
    {{> loading-spinner }}
    {{> fb-login-wrapper }}
    <p class="refreshed">Your Facebook authorization has been renewed. Your friends' pictures and statuses should appear in future e-mails. Thanks for using Ceaseless!</p>
    <a href="default.html" class="button">Return Home</a>
    <script type="text/javascript">
      var fbInitActions = {
        connected: function () {
          refreshToken();
          $('div.loading-spinner').hide();
          $('div.fb-login-wrapper').hide();
          $('p.refreshed').show();
        },
        not_authorized: function () {
          $('div.loading-spinner').hide();
        }
      };
    </script>
  </div>
</section>
