---
layout: src/templates/layouts/fb-app-layout.hbs
---
<section class="container" id="main">
  <header>
    <h2>Renew Facebook Connection</h2>
  </header>
  <div class="box">
    {{> loading-spinner }}
    {{> fb-login-wrapper }}
    <p>Your Facebook authorization has been renewed. Your friends' pictures and statuses should appear in future e-mails. Thanks for using Ceaseless!</p>
  </div>
</section>
