---
layout: src/templates/layouts/fb-app-layout.hbs
---
<style type="text/css">
  .registration_input, .registration_confirmation, .registration_not_confirmed
  {
    display: none;
  }
</style>
<section class="container" id="main">
  <header>
    <h2>Sign up for Ceaseless</h2>
  </header>
  <div class="box">
    <div class="row">
      <div class="12u">
        <div class="signup_intro">
          <p>Click "Log in" below to sign up and don't worry, we won't bug your friends.</p>
          <p>You will be asked for your e-mail address so we know where to send the three friends to pray for each day.</p>
          {{> loading-spinner }}
          <!-- custom login wrapper that needs to support registration -->
          <div class="fb-login-wrapper">
            <div
                    class="fb-login-button"
                    data-show-faces="true"
                    data-width="265"
                    data-max-rows="2"
                    data-registration-url=""
                    data-onlogin=""
                    data-size="large"
                    data-scope="email,user_status,friends_photos,friends_status">
            </div>
          </div>
          <p>When you login with Facebook, we will grab your list of friends to start sending you
            people to pray for. Your data will be saved, but we do not post back to your Facebook.</p>
          <p>If you have more questions, you can <a href="faq.html">read more</a> or <a href="contact.html">contact us</a>.</p>
        </div>
      </div>
    </div>
    <div class="registration_input">
      <div class="row">
        <div class="12u">
          <label for="emailToUse">Enter the e-mail address you want to use for Ceaseless.</label>
          <div class="row uniform half collapse-at-2">
            <div class="9u">
              <input id="emailToUse" type="email" placeholder="Email address"/>
            </div>
            <div class="3u">
              <input id="registerEmail" class="fit" value="Submit" type="submit"/>
              <img id="register-spinner" src="images/spinner.gif"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="registration_confirmation">
      <p>Thanks for registering! Check your <span id="chosen_email"></span> e-mail inbox (and maybe spam) for a link to confirm your
        account. We cannot send you friends to pray for until your account is confirmed.
        <a href="default.html" class="button fit special">Go to your prayer dashboard</a>
      </p>
    </div>
    <div class="registration_not_confirmed">
      <p>Sorry, we couldn't register you at this time.
        <a href="contact.html?subject=I could not register">Contact us</a> if you need help.
      </p>
    </div>
  </div>
</section>
<script type="text/javascript">
  var registerEmailAndToken = function (e) {
    e.preventDefault();
    var email = $("#emailToUse").val();
    $("div.register-spinner").show();
    $("#registerEmail").attr("disabled", true);
    $.ajax({
      type: 'GET',
      url: '/registerEmail.php',
      dataType: 'json',
      success: function (data) {
        $("div.register-spinner").hide();
        if (data.success) {
          $("div.registration_input").hide();
          $("#chosen_email").text(email);
          $("div.registration_confirmation").show();
        } else {
          $("div.registration_not_confirmed").show();
        }
      },
      data: {
        'email': email,
        'access_token': FB.getAccessToken(),
        'fb_id': FB.getUserID()
      },
      async: false
    });
  };

  $("#registerEmail").on("click", registerEmailAndToken);

</script>
<script type="text/javascript">
  var fbInitActions = {
    connected: function () {
      if (!isRegistered()) {
        $("div.loading-spinner").hide();
        $("div.signup_intro").hide();
        $("div.registration_input").show();
      } else {
        window.location = "default.html";
      }
    }
  };
</script>
