<!-- Header -->
<header id="header">
  <h1><a href="index.html"><img class="logo header-logo" src="images/logo-white.png"/></a></h1>
  <nav id="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li>
        <a href="" class="icon fa-angle-down">Menu</a>
        <ul>
          <li><a href="default.html">Home</a></li>
          <li><a href="preferences.html">Preferences</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="donate.html">Give</a></li>
          <li><a href="contact.html?subject=I need help">Get Help</a></li>
          <li><a href="share.html">Share Ceaseless</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
