<!-- Header -->
<header id="header">
  <h1><a href="index.html"><img class="logo" style="height:2em;vertical-align:middle" src="images/logo-white.png"/></a></h1>
  <nav id="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li>
        <a href="" class="icon fa-angle-down">Menu</a>
        <ul>
          <li><a href="#main">Home</a></li>
          <li><a href="#features">Preferences</a></li>
          <li><a href="#letter">Support Ceaseless</a></li>
          <li><a href="share.html">Share Ceaseless</a></li>
          <li><a href="#cta">Help</a></li>
        </ul>
      </li>
      <li><a href="#" class="button">Sign Up</a></li>
      <li><a href="#" class="button special">Sign In</a></li>
    </ul>
  </nav>
</header>
