<div class="fb-login-wrapper">
  <div
    class="fb-login-button"
    data-show-faces="false"
    data-width="300"
    data-max-rows="2"
    data-size="large"
    data-scope="email,user_status,friends_likes,friends_photos,friends_status">
  </div>
</div>
